{% extends 'User/templates.html' %}


{% block content %}
<p>{{ country.name }}</p>
<p>List of regions:</p>

{% for i in region %}
<p>{{ i.name }}</p>
{% endfor %}

<p>Sales tax: {{ country.sales_tax }}</p>
<p>Income tax: {{ country.income_tax }}</p>

<p>Total number of users: {{ country.user_count }}</p>
<p>National currency: {{ country.currency }}({{ country.currency.symbol }})</p>
<p>The national treasury currently holds:
    {{ country.Currency_amount }}{{ country.currency.symbol }}</p>

{% endblock content %}